<div class="container text-center">
  <p class="song-verse">
    It just goes on and on my friends
  </p>
  <div class="img-responsive">
    <%= image_tag 'verse2.jpg' %>
  </div>
  <nav>
    <ul class="pager">
      <li><%= link_to "<< Previous", root_path %></li>
      <li><%= link_to "Next >>", verse_3_path %></li>
    </ul>
  </nav>
</div>
