<div class="container text-center">
  <p class="song-verse">
    Some people, started singing it not knowing what it was
  </p>
  <div class="img-responsive">
    <%= image_tag 'verse3.jpg' %>
  </div>
  <nav>
    <ul class="pager">
      <li><%= link_to "<< Previous", verse_2_path %></li>
      <li><%= link_to "Next >>", verse_4_path %></li>
    </ul>
  </nav>
</div>
