<div class="container text-center">
  <p class="song-verse">
    And they'll continue singing it forever just because...
  </p>
  <div class="img-responsive">
    <%= image_tag 'verse4.jpg' %>
  </div>
  <nav>
    <ul class="pager">
      <li><%= link_to "<< Previous", verse_3_path %></li>
      <li><%= link_to "Home >>", root_path %></li>
    </ul>
  </nav>
</div>
